extends ../../includes/slide-iframe

block vars
    - var slideId = "chrome-racer"
    - var iframeSrc = "http://www.youtube.com/embed/KOCM9_qGccY"
    - var link = null
    - var name = null
block content
    include content.html
