/*------------------------------------*\
    BASE
\*------------------------------------*/

/**
 * imports for all mixins + global project variables
 */

/**
 * Easings
 */
@import "easings";

/**
 * Responsive
 */
@import "responsive";

/**
 * Functions
 */

@import "functions";

/**
 * Typography
 */

@import "typography";


/**
 * Compass CSS3
 * @see http://compass-style.org/reference/compass/css3/
 */

@import "compass/css3";

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

$easeCrazyOutBack: cubic-bezier(0.325, 0, 0.000, 1.650);


@include exports('base') {

// $bgColor: #141518 !default;
$bgColor: #fafafa !default;

// include border and padding in addition to default content
* {
    @include box-sizing(border-box);
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    // 16px
    font-size: 100%;
    font-family: 'Roboto Condensed';
    background: $bgColor;
}

h1, h2 {
    font-weight: normal;
    line-height: 1.5em;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

@include mq-small-only {
    html, body {
        font-size: 62.5%;
        // font-size: 86.5%;
    }
    h1, h2 {
        font-size: 2em;
    }
}

@include mq-medium-up {
    html, body {
        overflow: hidden;
    }
}


}

