@import "compass/css3";
/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

/**
 *   @include font-face("Blooming Grove", font-files("examples/bgrove.ttf", "examples/bgrove.otf"));
 *   produces
 *   @font-face {
 *       font-family: "Blooming Grove";
 *       src: url('/fonts/examples/bgrove.ttf') format('truetype'), url('/fonts/examples/bgrove.otf') format('opentype');
 *   }
 */

@include exports('typography') {

@import url(http://fonts.googleapis.com/css?family=Londrina+Sketch);
@import url(http://fonts.googleapis.com/css?family=Sniglet:400,800);

@font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/fontawesome-webfont.eot');
    src: url('/fonts/fontawesome-webfont.woff') format('woff'),url('/fonts/fontawesome-webfont.ttf') format('truetype'),url('/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/fontawesome-webfont.eot?v=3.6.6');
    src: url('/fonts/fontawesome-webfont.eot?#iefix&v=3.6.6') format('embedded-opentype'),url('/fonts/fontawesome-webfont.woff?v=3.6.6') format('woff'),url('/fonts/fontawesome-webfont.ttf?v=3.6.6') format('truetype'),url('/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.6.6') format('svg');
    font-weight: normal;
    font-style: normal
}

.type--londrian {
    font-family: 'Londrina Sketch';
    font-weight: bold;
}

}
