<!DOCTYPE html>
<!--
        _/_/_/    _/_/_/_/    _/_/    _/_/_/    _/      _/      _/_/_/_/    _/_/    _/_/_/
       _/    _/  _/        _/    _/  _/    _/    _/  _/        _/        _/    _/  _/    _/
      _/_/_/    _/_/_/    _/_/_/_/  _/    _/      _/          _/_/_/    _/    _/  _/_/_/
     _/    _/  _/        _/    _/  _/    _/      _/          _/        _/    _/  _/    _/
    _/    _/  _/_/_/_/  _/    _/  _/_/_/        _/          _/          _/_/    _/    _/

        _/    _/  _/    _/    _/_/    _/      _/
       _/  _/    _/    _/  _/    _/  _/_/    _/
      _/_/      _/_/_/_/  _/_/_/_/  _/  _/  _/
     _/  _/    _/    _/  _/    _/  _/    _/_/
    _/    _/  _/    _/  _/    _/  _/      _/

          _/_/      _/_/_/    _/_/    _/_/_/    _/_/_/_/  _/      _/  _/      _/
       _/    _/  _/        _/    _/  _/    _/  _/        _/_/  _/_/    _/  _/
      _/_/_/_/  _/        _/_/_/_/  _/    _/  _/_/_/    _/  _/  _/      _/
     _/    _/  _/        _/    _/  _/    _/  _/        _/      _/      _/
    _/    _/    _/_/_/  _/    _/  _/_/_/    _/_/_/_/  _/      _/      _/


    Yep, I'm interested in working with Khan Academy :P
    Curious how the code works? View the full source here: https://github.com/radialglo/readyforkhanacademy/tree/master.
-->
<html lang="en">
<meta charset="utf-8">
<head>
    <title>Ready for Khan Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta name="description" content="Anthony Su is ready for Khan Academy." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta property="og:title" content="Ready for Khan Academy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.readyforkhanacademy.com/" />
    <meta property="og:image" content="http://www.readyforkhanacademy.com/img/rfka-medium.jpg" />
    <meta property="og:description" content="Anthony Su is ready for Khan Academy." />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="http://www.readyforkhanacademy.com/" />
    <meta name="twitter:title" content="Ready for Khan Academy" />
    <meta name="twitter:description" content="Anthony Su is ready for Khan Academy." />
    <meta name="twitter:image" content="http://www.readyforkhanacademy.com/img/rfka-medium.jpg" />

    <link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Londrina+Sketch|Sniglet:400,800|Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/main.min.css" type="text/css">

    <script src="js/modernizr.js"></script>
</head>
<body>

