 <h1 class="credits-heading type--londrina">Credits</h1>
 <hr>
 
 <h2 class="credits-subheading">Referenced Projects</h2>

<ul class="credits-list">
    <li>
        <a href="http://hakim.se/experiments/html5/keylight/03/#488x845_311x688_193x505_213x329_338x237_477x333_622x229_774x331_763x523_677x684_2" target="_blank">
        Keylight
        </a>: an audio rhythm experiment by <a href="http://hakim.se/">Hakim El Hattab</a>
    </li>
    <li>
        <a href="http://www.chrome.com/racer" target="_blank">Chrome Racer</a> : 
        Mobile web experiment demoing web sockets and other web technologies.<a href="http://google.com" target="_blank">
        Google
        </a>/ <a href="http://activetheory.net/" target="_blank">Active Theory</a> / 
        <a href="https://www.youtube.com/watch?v=YT0k99hCY5I" target="_blank">Giorgio Moroder</a> /
        <a href="http://plan8.se/" target="_blank">Plan 8</a>

    </li>
    <li>
        <a href="http://www.aaronkoblin.com/Aaronetrope/" target="_blank">Aaronetrope</a> : Interactive Zoetrope by 
        <a href="http://www.aaronkoblin.com/" target="_blank">Aaron Koblin</a> / <a href="http://mrdoob.com/" target="_blank">mrdoob</a>
    </li>
    <li>
        <a href="http://helloracer.com/webgl/" target="_blank">Hello Racer</a> : Car Simulation in WebGL by <a href="http://helloenjoy.com/" target="_blank">Hello Enjoy</a>
    </li>
</ul>


 <h2 class="credits-subheading">Personal Projects</h2>
    <ul class="credits-list">
        <li>
    The <a href="https://github.com/radialglo/readyforkhanacademy" target="_blank">full source</a> for this project is available on <a href="https://github.com/radialglo/readyforkhanacademy" target="_blank">github</a>
    </li>
    </ul>
 <hr>
 
 <span class="by">
 By <a href="mailto:anthonysu@radialglo.com">Anthony Su</a> , <a href="https://www.khanacademy.org/profile/radialglo/" target="_blank"> @radialglo</a> on <a href="https://www.khanacademy.org/" target="_blank">Khan Academy</a>
 </span>
     
