    <h1>
      <span class="c1 type--londrina-sketch">H</span>
      <span class="c2 type--londrina-sketch">E</span>
      <span class="c3 type--londrina-sketch">L</span>
      <span class="c4 type--londrina-sketch">L</span>
      <span class="c5 type--londrina-sketch">O</span>

    </h1>

    <h2>
      <span class="c6 logotype logotype--khan">K</span>
      <span class="c7 logotype logotype--khan">H</span>
      <span class="c8 logotype logotype--khan">A</span>
      <span class="c9 logotype logotype--khan">N</span>


      <span class="c10 logotype logotype--academy">A</span>
      <span class="c11 logotype logotype--academy">C</span>
      <span class="c12 logotype logotype--academy">A</span>
      <span class="c13 logotype logotype--academy">D</span>
      <span class="c14 logotype logotype--academy">E</span>
      <span class="c15 logotype logotype--academy">M</span>
      <span class="c16 logotype logotype--academy">Y</span>
    </h2>

  <script>
    window.onload = function() {
      document.querySelector("#hello-ka").classList.add("render");
    }
  </script>
