@import "../../../base/base";


.content--iframe {
	height: 100%;
}

.external-link {
	background: black; // fallback
	background: rgba(0,0,0,0.7);
	color: #FFF;
	text-decoration: none;
	padding: .5em 1em;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 2em;
	border: 1px solid black; // fallback
	border: 1px solid rgba(240, 240, 240, 0.3);
}
