@import "../../base/base";

#hello-ka {

    .content {
        height: 100%;
        @include background-image( linear-gradient(45deg, #125758, #333) );
        @include background-image( linear-gradient(45deg, orange, yellow) );
        // color: #EFF;
        color: #CCC;
        color: #000;
        overflow: hidden;
        // font-size: 75px;
        position: absolute;
        top: 50%;
        @include transform( translateY(-50%) );
        width: 100%;
    }


    span {
        display: inline-block;
    }

    .logotype {
        font-family: FontAwesome;
        letter-spacing: 0;
        position: relative;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        font-size: 35px;
        padding-left: 1em;
    }

    .logotype--khan {
        text-transform: uppercase;
    }

    /*
    .logotype-khan:first-child:before {
        color: #9db63b;
         content: "•";
        content: "\2022";
    }
    */

    .logotype--academy {
        text-transform: lowercase;
    }

    .type--londrian {
        font-family: 'Londrina Sketch';
    }

    h1, h2 {
        font-size: 18px;
        text-align: center;
        margin: 5em;
    }

    $easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
    .c1, .c2, .c3, .c4, .c5 {
        @include transform( rotateX(90deg) );
        opacity: 0;
        font-size: 1.5em;
    }
    @for $i from 6 through 16 {
        .c#{$i} {
            opacity: 0;
            // @include transform( translateY(100%) );
        }
    }

    &.render {

        .c1, .c2, .c3, .c4, .c5 {
            @include transform( rotateX(0deg) );
        }
        span {
            @include transition(1s all $easeOutQuint);
            opacity: 1;
        }
        @for $i from 1 through 5 {
            .c#{$i} {
                @include transition-delay($i * 100ms);
            }
        }
        @for $i from 6 through 16 {
            .c#{$i} {
                opacity: 1;
                @include transform( translateY(0) );
                @include transition(500ms all ease-in);
                @include transition-delay(500ms + $i * 25ms);
            }
        }
    }

}