div#world

    div(id="hello-ka" class="slide")
        div(class="aspect-ratio")
            div(class="content-wrapper")
                include modules/hello-ka/index
    div.slide
    div.slide
    div.slide
    div.slide
    div.slide
    div.slide
    div.slide
        iframe(id="iframe" style="border:0;width:100%;height:100%" src="http://www.aaronkoblin.com/Aaronetrope/")
    div.slide



