div#world
    include modules/hello-ka/index
    include modules/what/index
    include modules/specifics/index
    include modules/research/index
    include modules/html5-expansion/index
    include modules/sound-viz/index
    include modules/networking/index
    include modules/video/index
    include modules/aaron-trope/index
    include modules/graphics/index
    include modules/visualizing-algorithms/index
    

