    <h2>
       I am curious how the curriculum can be expanded to explore
    </h2>
     <h2>
         <span class="type--londrina">H</span>
         <span class="type--londrina">T</span>
         <span class="type--londrina">M</span>
         <span class="type--londrina">L</span>
         <span class="type--londrina">5</span>
         <span class="type--londrina">&nbsp;</span>
         <span class="type--londrina">A</span>
         <span class="type--londrina">P</span>
         <span class="type--londrina">I</span>
         <span class="type--londrina">S</span>
         <span class="type--londrina">&nbsp;</span>
        such as ...
    </h2>

  <script>
    window.addEventListener("load",function() {
      document.querySelector("#html5-expansion").classList.add("render");
    });
  </script>
