    <h2>
       I am curious how the curriculum can be expanded to explore
    </h2>
     <h2>
         <span class="type--londrian">H</span>
         <span class="type--londrian">T</span>
         <span class="type--londrian">M</span>
         <span class="type--londrian">L</span>
         <span class="type--londrian">5</span>
         <span class="type--londrian">&nbsp;</span>
         <span class="type--londrian">A</span>
         <span class="type--londrian">P</span>
         <span class="type--londrian">I</span>
         <span class="type--londrian">S</span>
         <span class="type--londrian">&nbsp;</span>
        such as ...
    </h2>

  <script>
    window.addEventListener("load",function() {
      document.querySelector("#html5-expansion").classList.add("render");
    });
  </script>
