extends ../../includes/slide-iframe

block vars
    - var slideId = "aaron-trope"
    //- - var iframeSrc = "http://www.aaronkoblin.com/Aaronetrope/"
    - var iframeSrc = null
    - var link = "http://www.aaronkoblin.com/Aaronetrope"
    - var name = "Aarontrope"
block content
    include content.html
