extends ../../includes/slide-iframe

block vars
    - var slideId = "aaron-trope"
    //- - var iframeSrc = "http://www.aaronkoblin.com/Aaronetrope/"
    - var iframeSrc = null
block content
    include content.html
