    <h2>
        Specifically I'm interested in working with
    </h2>
     <h1>
        <span class="type--londrina">P</span> 
        <span class="type--londrina">a</span> 
        <span class="type--londrina">m</span> 
        <span class="type--londrina">e</span> 
        <span class="type--londrina">l</span> 
        <span class="type--londrina">a</span> 
   
        <span class="type--londrina">&nbsp;</span>
        <span class="type--londrina">F</span> 
        <span class="type--londrina">o</span> 
        <span class="type--londrina">x</span> 
        <span class="type--londrina">&nbsp;</span>
        and 
        <span class="type--londrina">&nbsp;</span>
        <span class="type--londrina">J</span> 
        <span class="type--londrina">o</span> 
        <span class="type--londrina">h</span> 
        <span class="type--londrina">n</span> 
        <span class="type--londrina">&nbsp;</span> 
        <span class="type--londrina">R</span> 
        <span class="type--londrina">e</span> 
        <span class="type--londrina">s</span> 
        <span class="type--londrina">i</span> 
        <span class="type--londrina">g</span> 
    </h1>
    <h2>
        on Khan Academy's Computer Science Platform.
    </h2>
    
    <div class="happy-hopper img-wrapper">
        <div class="img-aspect-ratio">
            <img class="img-content" src="img/cs-hopper-happy.png">
        </div>
    </div>

