    <h2>
        Specifically I'm interested in working with
    </h2>
     <h1>
        <span class="type--londrian">P</span> 
        <span class="type--londrian">a</span> 
        <span class="type--londrian">m</span> 
        <span class="type--londrian">e</span> 
        <span class="type--londrian">l</span> 
        <span class="type--londrian">a</span> 
   
        <span class="type--londrian">&nbsp;</span>
        <span class="type--londrian">F</span> 
        <span class="type--londrian">o</span> 
        <span class="type--londrian">x</span> 
        <span class="type--londrian">&nbsp;</span>
        and 
        <span class="type--londrian">&nbsp;</span>
        <span class="type--londrian">J</span> 
        <span class="type--londrian">o</span> 
        <span class="type--londrian">h</span> 
        <span class="type--londrian">n</span> 
        <span class="type--londrian">&nbsp;</span> 
        <span class="type--londrian">R</span> 
        <span class="type--londrian">e</span> 
        <span class="type--londrian">s</span> 
        <span class="type--londrian">i</span> 
        <span class="type--londrian">g</span> 
    </h1>
    <h2>
        on Khan's Computer Science Platform.
    </h2>
    
    <div class="happy-hopper img-wrapper">
        <div class="img-aspect-ratio">
            <img class="img-content" src="img/cs-hopper-happy.png">
        </div>
    </div>



  <script>
    window.addEventListener("load",function() {
      document.querySelector("#specifics").classList.add("render");
    });
  </script>
