    <h2>
       I researched some of your <a target="_blank" href="https://speakerdeck.com/pamelafox/khan-academy-programming-curriculum-for-cshs">current</a> <a target="_blank" href="http://cs-blog.khanacademy.org/2014/02/join-khan-this-summer-help-us-improve.html">intiatives</a> and I’m interested in teaching 
    </h2>
     <h1>
         <span class="type--londrian">H</span>
         <span class="type--londrian">T</span>
         <span class="type--londrian">M</span>
         <span class="type--londrian">L</span>
         <span class="type--londrian">&nbsp;</span>
         <span class="type--londrian">/</span>
         <span class="type--londrian">&nbsp;</span>
         <span class="type--londrian">C</span>
         <span class="type--londrian">S</span>
         <span class="type--londrian">S</span>
       
    </h1>
    <h2> and </h2>
    <h1>
        <span class="type--londrian">A</span>
        <span class="type--londrian">L</span>
        <span class="type--londrian">G</span>
        <span class="type--londrian">O</span>
        <span class="type--londrian">R</span>
        <span class="type--londrian">I</span>
        <span class="type--londrian">T</span>
        <span class="type--londrian">H</span>
        <span class="type--londrian">M</span>
        <span class="type--londrian">S</span>
        <span class="type--londrian">&nbsp;</span>
        <span class="type--londrian">1</span>
        <span class="type--londrian">0</span>
        <span class="type--londrian">1</span>
    </h1>

  <script>
    window.addEventListener("load",function() {
      document.querySelector("#research").classList.add("render");
    });
  </script>
