    <h2>
       I researched some of your <a target="_blank" href="https://speakerdeck.com/pamelafox/khan-academy-programming-curriculum-for-cshs">current</a> <a target="_blank" href="http://cs-blog.khanacademy.org/2014/02/join-khan-this-summer-help-us-improve.html">intiatives</a> and I’m interested in teaching 
    </h2>
     <h1>
         <span class="type--londrina">H</span>
         <span class="type--londrina">T</span>
         <span class="type--londrina">M</span>
         <span class="type--londrina">L</span>
         <span class="type--londrina">&nbsp;</span>
         <span class="type--londrina">/</span>
         <span class="type--londrina">&nbsp;</span>
         <span class="type--londrina">C</span>
         <span class="type--londrina">S</span>
         <span class="type--londrina">S</span>
       
    </h1>
    <h2> and </h2>
    <h1>
        <span class="type--londrina">A</span>
        <span class="type--londrina">L</span>
        <span class="type--londrina">G</span>
        <span class="type--londrina">O</span>
        <span class="type--londrina">R</span>
        <span class="type--londrina">I</span>
        <span class="type--londrina">T</span>
        <span class="type--londrina">H</span>
        <span class="type--londrina">M</span>
        <span class="type--londrina">S</span>
        <span class="type--londrina">&nbsp;</span>
        <span class="type--londrina">1</span>
        <span class="type--londrina">0</span>
        <span class="type--londrina">1</span>
    </h1>

  <script>
    window.addEventListener("load",function() {
      document.querySelector("#research").classList.add("render");
    });
  </script>
