extends ../../includes/slide-iframe

block vars
    - var slideId = "hello-racer"
    //- - var iframeSrc = "http://helloracer.com/webgl/"
    - var iframeSrc = null
    - var link = "http://helloracer.com/webgl/"
    - var name = "Hello Racer"
block content
    include content.html
