@import "../../../base/base";

#credits {
    padding: 3em;
    .credits-heading,
    .credits-subheading {
        text-align: left;
    }

    .credits-subheading {
        font-style: italic;
        color: #AAA;
    }
    color: #222;
    background: white;
    a {
        color: #01a2ff;
        &::before {
            background-color: #01a2ff;
        }
    }

}

.credits-list {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
        &:before {
            content: "-    ";
        }
        line-height: 1.5em;
        margin: 1em 0 0 0;
    }
}


@include mq-small-only {
    #credits {
        padding: 1em 2em;

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.75em;
        }

        li, .by {
            font-size: 1.5em;
        }
    }

}



