extends ../../includes/slide-iframe

block vars
    - var slideId = "graphics"
    //- - var iframeSrc = "http://helloracer.com/webgl/"
    - var iframeSrc = null
block content
    include content.html
