$mazeW: 480px;

#depth-first-search {
    background: white;
}

#maze-container {
  width: $mazeW + 4px;
  height: $mazeW + 4px;
  position: relative;
  // top: 50%;
  // left: 50%;
  left: 240px;
  // @include transform (translate(-50%, -50%) scale(1));
}

#maze {
    width: $mazeW;
    height: $mazeW;
    border: 2px solid black;
    position: relative;
    // padding: 2.5%;
    // hide for now
    overflow: hidden;
}

#maze-controls {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    left: $mazeW;
    top: 0;
    margin: 0 2em 2em 2em;
    padding: 2em;
    border: 1px solid #CCC;
}

#maze-control-list {
    list-style: none;
    a {
        color: #CCC;
        text-decoration: none;
        text-transform: uppercase;
        &::before {
            visibility: hidden;
        };
        font-size: 1.5em;
    }
    .active {
        color: #01a2ff;
    }
    padding: 0;
    margin: 0;
    line-height: 2em;

}


