@import "../../base/base";


$slideCount: 14;
$slideWidth: rem-calc(960px);
$slideHeight: rem-calc(640px);
$slideHeightPerWidth: #{$slideHeight / $slideWidth * 100 + "%"};

$yTranslation: 200px;
$xIncrement: 200px;


#world {
    height: 100%;
    @include perspective(3000px);
    @include perspective-origin(right);


    @for $i from 1 through $slideCount {
        .slide:nth-child(#{$i}) {
            // @include transition-delay($i * 75ms);
            // @include translate3d($xIncrement * ($i), $yTranslation - (50px * $i), 400px + (-400px * $i));
            // background: rgba(0, 255, 255, ($i / $slideCount));
            z-index: $slideCount - $i + 1;
        }
    }

}

@include mq-medium-up {
  #world {
   overflow: hidden;
  }
}

// SLIDES
// 
// We use a scalable way to preserve aspect ratio for the slides using CSS
// The padding property is the magic that styles a box with an intrinsic ratio.
// This is because we’ll set padding in a percentage, based on the width of the containing block.
// @see http://alistapart.com/article/creating-intrinsic-ratios-for-video/. Thanks Thierry Koblentz!
// sample slideshow markup
// 
// <section id="world">
//
//  <div id="slide-1" class="slide">
//      <div class="aspect-ratio">
//          <div class="content-wrapper">
//              <div class="content">
//              </div>
//          </div>
//      </div>
//  </div>
//
//  <div id="slide-2" class="slide">
//      <div class="aspect-ratio">
//          <div class="content-wrapper">
//              <div class="content">
//              </div>
//          </div>
//      </div>
//  </div>
// </section>
//  


.slide {
   width: $slideWidth;
   // height: $slideHeight;
}

// transition must be specified in this order, such that bourbon adds prefixes
.animateTransform {
    @include transition(transform 500ms $easeOutCubic, opacity 500ms $easeOutCubic);
}

.aspect-ratio {
  position: relative;
  // maintain aspect ratio
  padding-bottom: $slideHeightPerWidth;
  height: 0;
}

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@include mq-small-only {
  .slide {
    position: relative;
    @include transform(none !important);
    opacity: 1 !important;
    width: 100%;
    padding: 1.25em;
  }

  .aspect-ratio {
    padding-bottom: 100%;
  }
}

@include mq-medium-up {
  .slide {
      

      position: absolute;

      // @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.25), 0 3px 3px -3px rgba(0,0,0,0.45));
      // @include box-shadow(0 24px 95px rgba(0,0,0,0.9));
      @include box-shadow (0px 24px 80px -35px rgba(0, 0, 0, 0.9));
      border-radius: 4px;
      // background: #FC3 !important;
      // background: #0FF;
      background-color: #125758;
      @include background-image(linear-gradient(45deg,#125758,#333));
  }
}
