    <h1>
        I want to change 
        <span class="type--londrian">&nbsp;</span>
        <span class="type--londrian">e</span> 
        <span class="type--londrian">d</span> 
        <span class="type--londrian">u</span> 
        <span class="type--londrian">c</span> 
        <span class="type--londrian">a</span> 
        <span class="type--londrian">t</span> 
        <span class="type--londrian">i</span> 
        <span class="type--londrian">o</span> 
        <span class="type--londrian">n</span> 
        <span class="type--londrian">&nbsp;</span>
        for the better.
    </h1>

  <script>
    window.addEventListener("load",function() {
      document.querySelector("#what").classList.add("render");
    });
  </script>
